 h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 17px;
} 
 body {
      background-color: #5e5e5e;
	  float: center;
  }
div {
	background-color:white;
	width:1700px;
	border: 20px #5e5e5e;
	padding: 25px;
	margin:25px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5e5e5e;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
div {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: white;
}