 h1 {
    font-size: 40px;
	font-family: Courier;
	font-weight: bold;
}

h2 {
    font-size: 30px;
	font-family: Courier;
	font-weight: bold;
}

p {
    font-size: 17px;
	color: black;
	font-family: Courier;
	font-size: 20px;
	font-weight: bold;
	
} 
 body {
      background-color: #141518;
	  float: center;
  }
div {
	background-color: #141518;
	width:1700px;
	border: 20px #141518;
	padding: 25px;
	margin:25px;
	
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38373C;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 19px;
    text-decoration: none;

}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #131518;
}
div {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: #141518;
}